<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel= "icon" href="../img/icono de web.png">
</head>
<body>
    <div class="padre">
        <!--  HEADER Y NAVBAR -->
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href="../../index.html">SHOP.COM</a>
                </div>
                <div class="nav">
                    <a href="../../index.html">Inicio</a>
                    <a href="../views/femenino.html">Femenino</a>
                    <a href="../views/masculino.html">Masculino</a>
                </div>
                <div class="registrarse">
                    <a href="../views/registro.html">Registrarse</a>   
                </div>
            </div>
            <div class="texto-principal">
            </div>
        </header>
        <!-- formulario -->
<form action="">
    <fieldset>
        <legend>Formulario de Registro</legend>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" required>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass" required>
        <label for="fecha">Fecha de Nacimiento</label>
        <input type="date" name="fecha" id="fecha">
        <input type="submit" value="Registrarse" class="registrarse">
        <input type="reset" value="Borrar" class="borrar">
    </fieldset>
  </form>
  <!--  FOOTER  -->
        <footer class="footer">
            <p class="text">&copy; Yainis Lira Vargas, Potrero Digital</p>
        </footer>
    </div>
</body>
</html>